@model IEnumerable<Skill>

<h2>Skills</h2>

<div style="display: block">
    <a href="/Skill/InsertSkill/">Log a new skill!</a>
</div>

<table class="table">
    <tr>
        <th>Skill Name</th>
        <th>Type</th>
        <th>Game</th>
    </tr>

    @foreach (var skill in Model)
    {
        <tr>
            <td><a href=/Skill/ViewSkill/@skill.ID>@skill.Name</a></td>
            <td>@skill.Type</td>
            <td>@skill.Game</td>
        </tr>
    }

</table>