@model Skill

<h2>Skill Info</h2>

<h5>Skill Name:</h5>
<p>@Model.Name</p>
<h5>Game Name:</h5>
<p>@Model.Game</p>
<h5>Skill Description:</h5>
<p>@Model.InGameDescription</p>

@* <iframe width="560" height="315" src="https://www.youtube.com/embed/RSPEOFk7FiE?si=EkSuTC7e0DaUSPX3&start=60&end=65" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> *@
<div style="display: block">
    <a href="/Skill/UpdateSkill/@Model.ID">Update this skill!</a>
</div>
