@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4" style="text-align: center;">Welcome to my site!</h1>
    <h4>About</h4>
    <p style="text-indent: 20px;">This website pulls from a database containing information about a multitude of skills
        from videogames. The skills page lists all the skills in the database, and each skill name provides an attached link to a page 
        with more info about the skill, including a short video clip of the skill.
    </p>
    <h4>Example</h4>
    <p style="text-indent: 20px;">
        Below is an one example of the video clips attached to each skill.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RSPEOFk7FiE?si=bViVNHhoGN3Aczo_&amp;clip=UgkxbsyomCtegMntU1oZ-d5wvBAlscoSeGe9&amp;clipt=EKTfBhis6gc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <h4>Purpose</h4>
    <p style="text-indent: 20px;">
        I made this mainly because I love the creative ways videogames display techniques, skills, spells, technologies, etc., 
        and a site where you could search by name or game for different skills would be awesome. So far it only covers three 
        games and the sites functionality is limited, but I hope to make this into a well functioning website that allows the user 
        to easily search for videogame "skills" broadly speaking, and that it would elaborate and show the skill in action in its game.
    </p>
    <h4>Things to add...</h4>
    <ul>
        <li>Search functionality on page that shows list of skills DONE</li>
        <li>How to page for allowing visitors to the site to add skill (I can't add them all myself lol)</li>
        <li>When viewing a specific skill, I need the additional description and notes to be populated</li>
    </ul>
</div>
